<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vikrant.hw2_group39">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddMovie"
            android:label="@string/add_activity"></activity>
        <activity
            android:name=".EditMovie"
            android:label="@string/edit_activity"></activity>
        <activity
            android:name=".DisplayYear"
            android:label="@string/display_year_activity">
            <intent-filter>
                <action android:name="com.example.vikrant.hw2_group39.intent.action.VIEWY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayRating" android:label="@string/display_rating_activity">
            <intent-filter>
                <action android:name="com.example.vikrant.hw2_group39.intent.action.VIEWR"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>